<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial('_part/head') %>
</head>

<body>
<div class="w3-row">
    <div class="w3-col m4 l3 w3-container w3-hide-small w3-collapse" id="navFrame">
        <%- partial('_part/nav') %>
        <%- partial('_part/author') %>
    </div>


    <div class="w3-rest w3-container ">
        <div class="w3-card-8 w3-theme-d3 w3-margin-mobileNav" id="mobileNav">
            <span class="w3-opennav w3-xlarge w3-hide-large w3-hide-medium " onclick="openNav()">&#9776;</span>
        </div>

        <%- body %>

        <br><br>
    </div>
</div>


<%- partial('_part/copyleft') %>

</body>

</html>

